@import "../../assets/styles/variables.scss";

.filters {
  width: 270px;
  margin-right: 50px;
  border-right: 1px solid $light-gray;
}

.filter_item {
  margin-bottom: 16px;
  font-size: 0.9em;
}

.title {
  font-weight: 700;
  color: $dimmed-black;
  margin-bottom: 8px;
}

.variant {
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
