@import "../../assets/styles/variables.scss";

.link {
  color: $link-color;
}

.container {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.filters {
  width: 270px;
  margin-right: 50px;
  border-right: 1px solid $light-gray;
}

.list {
  flex-basis: 75%;
}

.item {
  display: flex;
  border-top: 1px solid $light-gray;
}

.img {
  height: 220px;
  width: 220px;
  flex-basis: 20%;
}

.img > img {
  height: inherit;
  width: inherit;
}

.info {
  padding: 30px 20px;
  flex-basis: 40%;
}

.title {
  margin-bottom: 5px;
  font-size: 24px;
}

.reviews {
  margin-bottom: 10px;
  font-size: 14px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.badge {
  @include badge($accent-color);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  white-space: 5px;
}

.features__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.feature {
  display: flex;
  gap: 6px;
}

.pricebox {
  flex-basis: 30%;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price {
  display: flex;
  gap: 10px;
  color: $darker-gray;
  font-weight: 600;
  font-size: 24px;
}

.price_new {
  color: $dimmed-black;
}

.price_old {
  color: $dark-gray;
  text-decoration-line: line-through;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $white;
}
.btn__icon {
  margin-right: 14px;
  font-size: 14px;
}

.bookmark {
  height: 40px;
  width: 100%;
  max-width: 350px;
  font-size: 16px;
  background: none;
  border: 1px solid $light-gray;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
