@import "../../assets/styles/variables.scss";

@keyframes placeholder-glow {
  from {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(90%);
  }

  to {
    filter: brightness(100%);
  }
}

.item {
  display: flex;
  border-top: 1px solid $light-gray;
}

.img {
  height: 220px;
  min-width: 220px;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img > img {
  height: 50%;
}

.info {
  padding: 30px 20px;
  flex-basis: 40%;
}

.title {
  margin-bottom: 5px;
  font-size: 24px;
  height: 32px;
  background-color: $lighter-gray;
  border-radius: $border-radius-sm;
  animation: 2.5s infinite placeholder-glow;
}

.reviews {
  margin-bottom: 10px;
  font-size: 14px;
  height: 18px;
  display: flex;
  gap: 10px;
}
.reviews__rating {
  width: 50px;
  background: $lighter-gray;
  border-radius: $border-radius-sm;
  animation: 2.5s infinite placeholder-glow;
}

.reviews__count {
  width: 80px;
  background: $lighter-gray;
  border-radius: $border-radius-sm;
  animation: 2.5s infinite placeholder-glow;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.badge {
  @include badge($accent-color);
  color: $accent-color;
  animation: 2.5s infinite placeholder-glow;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  white-space: 5px;
}

.features__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.feature {
  display: flex;
  gap: 6px;
}
.feature > span {
  background-color: $lighter-gray;
  border-radius: $border-radius-sm;
  color: $lighter-gray;
  height: 16px;
  animation: 2.5s infinite placeholder-glow;
}

.pricebox {
  flex-basis: 30%;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 24px;
}

.price > p {
  border-radius: $border-radius-sm;
  background-color: $lighter-gray;
  color: $lighter-gray;
  animation: 2.5s infinite placeholder-glow;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: $border-radius-sm;
  background-color: $secondary-color;
  color: $white;
  display: block;
}

.btn__icon {
  margin-right: 14px;
  font-size: 14px;
}

.bookmark {
  height: 40px;
  width: 100%;
  max-width: 350px;
  font-size: 16px;
  background: none;
  border: 1px solid $light-gray;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.additional_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.additional_info > p {
  background-color: $lighter-gray;
  color: $lighter-gray;
  width: fit-content;
  font-size: 0.9em;
  border-radius: $border-radius-sm;
  animation: 2.5s infinite placeholder-glow;
}
