@import "../../../assets/styles/variables.scss";

.container {
  width: 100%;
}

.title {
  margin-bottom: 16px;
}

.details_container {
  margin-top: 15px;
  width: 50%;
  min-width: fit-content;
  padding: 10px 15px 10px;
  box-shadow: 0 0 5px $light-gray;
  border-radius: $border-radius-md;
}

.details_item {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }
}

.item_title {
  color: $dark-gray;
  font-size: 0.85em;
  font-weight: normal;
  margin-bottom: 5px;
}

.edit_form {
  width: 100%;
}

.form_controls * > {
  display: inline-block;
}

.form_btn {
  @include btn;
  background-color: white;
  color: $primary-color;
  border: 2px solid $dark-gray;
  max-width: 150px;
  transition: all 200ms ease;

  &:hover {
    color: white;
    background-color: $primary-color;
  }
}

.btn {
  font-size: 0.9em;
  color: $primary-color;
  margin-right: 12px;
  &:hover {
    text-decoration: underline;
    color: black;
  }
}

.btn_primary {
  font-size: 1em;
  text-decoration: underline;
  color: $link-color;
  &:hover {
    color: $link-color;
    filter: brightness(75%);
  }
}
