@import "../../assets/styles/variables.scss";

.hero_block {
  position: relative;
  margin: -125px 0 -100px;
  z-index: 0;
  background: none;
}

.title_accent {
  background-color: white;
  color: $primary-color;
  border-radius: $border-radius-sm;
  padding: 0 8px;
}

.promo {
  position: relative;
  padding: 0 15px;
  background: none;
}

.promo_img {
  width: 1160px;
  height: 585px;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
.promo_img > img {
  // user-select: none;
  // pointer-events: none;
}
.promo_title {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-40%);
  max-width: 38%;
  width: fit-content;

  padding: 20px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(0.8rem, 2.5vw, 1.7rem);
  line-height: 1.5;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: $border-radius-md;
  z-index: 1100;
}

@media screen {
}

@media screen and (max-width: 1024px) {
}
