@import "../../assets/styles/variables.scss";

.outer_container {
  margin-top: 20px;
  padding: 15px 0px;
  overflow-x: hidden;
  border-bottom: 1px solid $light-gray;
  &:last-child {
    border-bottom: none;
  }
}

.container {
  position: relative;
  display: flex;
  padding: 0 10px;
  gap: 15px;
}

.carousel_container {
  border-radius: $border-radius-lg;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.handle {
  margin: auto 0;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  background: $transparent-black;
  color: $dimmed-white;
  z-index: 1000;
  font-size: 1.1em;
  transition: transform 200ms ease;
  &:hover {
    transform: scale(1.05);
  }
}
.handle:focus {
  outline: 2px solid $light-blue;
}

.carousel {
  display: flex;
  border-radius: $border-radius-lg;
  transition: all 600ms ease;
}

.title {
  margin-bottom: 5px;
  font-weight: 600;
}

.subtitle {
  font-weight: normal;
  font-size: 1em;
}

.carousel_item {
  border-radius: $border-radius-lg;
}
