@import "../../assets/styles/variables.scss";

.categories {
  padding: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 200px;
  padding: 0.8rem;
  flex-basis: 16.66%;
  text-decoration: none;
  border-radius: 25px;
  &:visited {
    color: inherit;
  }
  &:hover {
    background-color: rgb(243, 243, 243);
  }
}

.card__item {
  background-color: cadetblue;
  border-radius: 15px;
  height: 90%;
}

.card__img {
  width: 100%;
  height: 100%;
  & img {
    object-fit: contain;
    width: 100%;
    height: 90%;
  }
}
