@import "../../assets/styles/variables.scss";

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.title {
  margin-bottom: 25px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: $light-gray;
    height: 100%;
    top: 0;
    right: -30px;
  }
  &:last-child::after {
    display: none;
  }
}

.img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.img > img {
  width: inherit;
  height: inherit;
}

.link {
  color: $link-color;
}

.name {
  font-size: 0.9em;
  margin-bottom: 5px;
  font-weight: normal;
}

.price {
  color: $dimmed-black;
  font-weight: 700;
  margin-bottom: 5px;
}

.rating {
  display: flex;
  margin: 5px 0 10px;
  color: $accent-color;
}

.cancel_btn {
  font-size: 1.3em;
  padding: 0px 5px;
  border-radius: $border-radius-sm;
  color: $dark-gray;

  position: absolute;
  top: 0;
  right: -15px;

  &:active {
    transform: scale(96%);
  }

  &:focus {
    outline: 2px solid $light-blue;
  }

  &:hover {
    color: $dimmed-black;
  }
}

.summary {
  margin-top: 50px;
  // border-top: 1px solid $light-gray;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.summary__count {
  font-size: 1.2em;
  font-weight: normal;
}
.summary__price {
  font-size: 1.2em;
  font-weight: 500;
}

.btn {
  margin-top: 20px;
  @include btn;
  max-width: 200px;
}
