@import "../../../assets/styles/variables.scss";

.feature {
  display: flex;
  gap: 8px;
}

.table {
  color: black;
  background-color: white;
  width: 100%;
  // max-width: 650px;
  border-collapse: collapse;
  font-size: 0.9em;
}
.th {
  font-weight: 700;
}
.table_zebra > *:nth-child(even) {
  background-color: $gray-100;
}

.tr > * {
  padding: 12px 8px;
}
