@import "../../assets/styles/variables.scss";

.outer__container {
  margin-top: 20px;
  padding: 15px 0px;
  // border-radius: $border-radius-lg;
  overflow-x: hidden;
  border-bottom: 1px solid $light-gray;
  &:last-child {
    border-bottom: none;
  }
}

.container {
  margin-top: 25px;
  overflow-x: hidden;
}

.slider {
  display: flex;
  gap: 10px;
  // transform: translateX(-100%);
}

.title {
  margin-bottom: 5px;
}

.subtitle {
  font-weight: normal;
  font-size: 1em;
}

.slider__item {
  padding: 8px;
  border-radius: $border-radius-lg;
  background-color: $white;
}
