@import "../../../assets/styles/variables.scss";

.checkbox__label {
  position: relative;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

.checkbox__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-align: center;
  padding: 4px 8px;
  font-size: 0.9em;
  min-width: 100px;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid $light-gray;
  user-select: none;
  cursor: pointer;
  position: relative;

  transition: border-color 200ms ease;
}

.checkbox__tile::before {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: $white;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  border: 1px solid $dimmed-white;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox__input:checked + .checkbox__tile {
  border-color: $secondary-color;
  background-color: $secondary-light;
}

.checkbox__input:focus + .checkbox__tile {
  outline: 3px solid $secondary-desaturated;
}
.checkbox__input:focus:checked + .checkbox__tile {
  outline: 3px solid $secondary-desaturated;
  background-color: $secondary-light;
}

.checkbox__input:checked + .checkbox__tile::before {
  transform: scale(1);
  opacity: 1;
  background-color: $secondary-color;
}

.checkbox__tile:hover {
  border-color: $secondary-color;
}

.disabled > .checkbox__tile {
  // cursor: not-allowed;
  color: $gray;
}
