@import "../../assets/styles/variables.scss";

.map {
  position: relative;
  margin-top: 10px;
  width: 450px;
  height: 450px;
  border: 1px solid $light-gray;
  border-radius: $border-radius-lg;
  overflow: hidden;
}
.marker_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;

  pointer-events: none;
  user-select: none;
}

.address {
  position: absolute;
  text-align: center;
  width: 85%;

  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  font-size: 1.25em;
  z-index: 1001;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: saturate(0.5);
}

[class*="controls__control_toolbar"] {
  z-index: 1010;
}
[class*="islets_serp-popup"] {
  z-index: 1010;
}

.btn {
  @include btn;
  position: absolute;
  z-index: 1001;
  max-width: 200px;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  transition: background-color 300ms ease;
}

.btn_disabled {
  background-color: $gray;
  cursor: not-allowed;
}
