@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.text-xs {
  font-size: 0.8rem;
}

.container {
  @include container();
}

// Custom checkbox

.checkbox_label {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.check_input {
  position: absolute;
  appearance: none;
}

.check_input:checked + .custom_checkbox {
  background-image: url("../img/checkbox/checked.svg");
}

.check_input:disabled:checked + .custom_checkbox {
  background-image: url("../img/checkbox/checked_disabled.svg");
}

.check_input:disabled + .custom_checkbox {
  background-image: url("../img/checkbox/unchecked_disabled.svg");
}

.check_input:focus + .custom_checkbox {
  background-image: url("../img/checkbox/unchecked_focus.svg");
}

.check_input:checked:focus + .custom_checkbox {
  background-image: url("../img/checkbox/checked_focus.svg");
}

.custom_checkbox {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-image: url("../img/checkbox/unchecked.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.balloon {
  background-color: black;
}
