$primary-color: #313235;
$secondary-color: #8434e6;
$dark-purple-desaturated: #6f4f8c;
$secondary-desaturated: #e0c7ff;
$secondary-light: #f0e4ff;
$light-purple: #c6b7ff;
$light-blue: #8fb3ff;
$blue: #005ee0;
$accent-color: #ffd039;
$yellow: #facc15;
$light-yellow: #fde68a;
$white: white;
$dimmed-black: #1d252c;
$transparent-black: #0000006b;
$darker-gray: #4a4a4a;
$dark-gray: #636363;
$gray: #7f7f7f;
$gray-100: #f3f4f6;
$gray-200: #d2d2d2;
$light-gray: #c7c7c7;
$lighter-gray: #e8e8e8;
$dimmed-white: #efefef;
$link-color: #1e76b9;
$danger: #bb0628;
$temp: #a0a0a0;
$light-slate: #e5ecf3;
$slate: #94a3b8;
$light-slate: #f1f5f9;
$green: #22c55e;

$width-container: 1440px;

$border-radius-sm: 5px;
$border-radius-md: 12px;
$border-radius-lg: 18px;
$border-radius-xl: 25px;

// Container
@mixin container {
  margin: 0 auto;
  max-width: 1340px;
  // min-width: 990px;
  padding: 0 5px;
}

// Button
@mixin btn {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $white;
  display: block;
}

// Badge
@mixin badge($color) {
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 8px;
  background-color: $color;
  white-space: nowrap;
}

// Next 3 - input with floating placeholder
@mixin label {
  padding: 0.1em 0.4em;
  border-radius: 5px;
  pointer-events: none;

  position: absolute;
  top: 1.6em;
  transform: translateY(-50%);
  left: 0.6em;

  font-size: 1em;
  transition: top ease 200ms, font-size ease 200ms, background ease 200ms;
  color: $dark-gray;
}

@mixin input($border-color) {
  width: 100%;
  padding: 1.5em 0.6em 0.5em 0.8em;
  border: 1px solid $light-gray;
  border-radius: 5px;
  color: $dimmed-black;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:hover {
    border-color: $gray;
  }
  &:focus {
    border-color: $border-color;
    outline: 2px solid $border-color;
  }
}

@mixin label-focus($label-bg) {
  top: 12px;
  font-size: 0.8em;
  background-color: $label-bg;
  color: $dimmed-black;
}

@mixin placeholder-glow {
  @keyframes placeholder-glow {
    from {
      filter: brightness(105%);
    }

    50% {
      filter: brightness(92%);
    }

    to {
      filter: brightness(105%);
    }
  }
}

@include placeholder-glow;
@mixin placeholder($bg: $gray-200) {
  user-select: none;
  background-color: $bg;
  border-radius: $border-radius-sm;
  color: $bg;
  animation: 2.5s infinite placeholder-glow;
}
