$primary-color: #313235;
$secondary-color: #7315e5;
$secondary-transparent: #aa64ff61;
$accent-color: #ffd039;
$white: white;
$dimmed-black: #1d252c;
$darker-gray: #4a4a4a;
$dark-gray: #636363;
$light-gray: #c7c7c7;
$dimmed-white: #dddddd;
$link-color: #1a5888;
$danger: #bb0628;
$temp: #a0a0a0;
$width-container: 1440px;

@mixin container {
  margin: 0 auto;
  max-width: 1340px;
  min-width: 990px;
}

@mixin badge($color) {
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 8px;
  background-color: $color;
  white-space: nowrap;
}
