@import "../../assets/styles/variables.scss";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.inner_wrapper {
  @include container;
  display: flex;
  min-height: 500;
  margin-top: 20px;
}

.main_image {
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

.side_image_container {
  margin-right: 15px;
  height: 500px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.side_image {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius-sm;
  transition: border-color 150ms ease;
  &:hover {
    outline: 2px solid $secondary-desaturated;
  }
}

.side_image.active {
  outline: 2px solid $secondary-desaturated;
}

.side_image > img {
  border-radius: inherit;
  height: 95%;
  width: 95%;
}

.title {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 5px;
}

.reviews {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: $link-color;
  cursor: pointer;
}
.reviews__star {
  color: $accent-color;
}
.reviews__count {
  color: $link-color;
}

.price {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 8px;
}

.btn {
  width: 100%;
  height: 55px;
  max-width: 350px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $white;
  margin-bottom: 10px;
}

.btn_active {
  color: $dimmed-black;
  background: none;
  border: 1px solid $dimmed-black;
}

.btn__icon {
  margin-right: 14px;
  font-size: 14px;
}

.bookmark {
  height: 40px;
  width: 100%;
  max-width: 350px;
  font-size: 18px;
  background: none;
  border: 1px solid $light-gray;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.badge {
  @include badge($accent-color);
}

.configuration {
  flex-basis: 25%;
  margin-right: 15px;
}

.configuration__item {
  margin-bottom: 20px;
}

.configuration__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.configuration__options {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form {
  min-width: 40%;
  max-width: 50%;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.resolution {
  display: flex;
  gap: 10px;
  align-items: center;
}
