@import "../../assets/styles/variables.scss";

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 150px;
  background-color: $white;
}

.img {
  width: 150px;
  height: 150px;
}

.img > img {
  width: 150px;
  height: 150px;
}

.link {
  color: $link-color;
  margin-bottom: 8px;
}

.name {
  font-size: 0.9em;
  font-weight: normal;
}

.price {
  color: $dimmed-black;
  font-weight: 700;
  margin-bottom: 5px;
}

.btn {
  margin-top: 20px;
  @include btn;
}
