@import "../../assets/styles/variables.scss";

.nav {
  background-color: $primary-color;
  padding: 0.5rem 2rem;
}

.nav__inner {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 2rem;
}

.list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: $white;
  text-decoration: none;
  font-size: 1.2rem;

  cursor: pointer;
  background: none;
  outline: none;
  border: none;

  &:hover {
    color: $dimmed-white;
  }
  &:hover > .cart_count {
    filter: brightness(90%);
  }
}

.cart_count {
  position: absolute;
  top: -12px;
  left: 30px;
  padding: 0px 2px;
  // width: 20px;
  // height: 20px;
  text-align: center;
  min-width: 20px;
  // display: flex;

  color: $dimmed-black;
  background-color: $accent-color;

  border-radius: 50px;
  border: 1px solid $dimmed-black;
  box-shadow: 0 0 8px black;
  white-space: nowrap;

  font-size: 12px;
  font-weight: 700;
}
