@import "../../../../assets/styles/variables.scss";

.container {
  position: relative;
  width: 100%;
}

.input {
  @include input($light-purple);
  margin-bottom: 20px;
}

.label {
  @include label;
}

.input:focus + .label,
.input:focus:valid + .label {
  @include label-focus($light-purple);
}

.input:valid + .label {
  @include label-focus($white);
}
