@import "../../../../assets/styles/variables.scss";

.container {
  position: relative;
  width: 100%;
}

.input {
  @include input($light-blue);
}

.label {
  @include label;
}

.input:focus + .label {
  @include label-focus($light-blue);
}

.input:not([value=""]):not(:focus) + .label {
  @include label-focus($white);
}

.input_invalid {
  @include input(tomato);
  border-color: tomato;
}

.label_invalid {
  color: tomato;
}

.input:focus + .label_invalid {
  color: tomato;
  background-color: $white;
}
