@import "../../../assets/styles/variables.scss";

.container {
  display: flex;
  gap: 15px;
  width: max-content;
  height: fit-content;
  align-items: center;

  border: 2px solid $light-gray;
  border-radius: 10px;

  color: $gray;
  font-size: 1.1em;
}

// .quantity__count {
// }

.quantity__btn {
  height: 30px;
  width: 30px;

  border: none;
  border-radius: 10px;
  outline: none;
  background: none;

  cursor: pointer;
  font-size: 1.1em;
  color: $dark-gray;

  &:focus {
    outline: 2px solid $light-blue;
  }
}
